body {
	background-color: #183029;
	font-family: Arial, sans-serif;
	margin: 0;
	text-align: center;
}

.sos-main {
	width: 25%;
	min-width: 500px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #EEE;
	padding: 0;
}

.sos-main div {
	padding: 25px;
}

.sos-blurb {
	background-color: #B3D467;
}

.sos-file-upload{
	display: block;
	background-color: #183029;
	color: white;
	padding: 12px;
	margin-top: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	border: 1px solid #183029;
}

.sos-submit-btn{
	display: block;
	background-color: #183029;
	color: white;
	padding: 12px;
	margin-top: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	border: 1px solid #183029;
	width: 100%;
}

.sos-file-upload:hover,
.sos-submit-btn:hover{
	background-color: #B3D467;
	color: #183029;
	border-color: #183029;
}

.sos-file-upload input[type="file"] {
	display: none;
}

#file-name {
	font-size: 0.9em;
}

.result-icon {
	width: 100px;
	height: 100px;
	color: #183029;
}

.tool {
	display: flex;
	justify-content: space-between;
}

.human {
	background-color: #7ED957;
	border-radius: 50%;
}

.ai {
	background-color: #F36C21;
	border-radius: 50%;
}

/* The spinning animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* The spinner element */
.spinner {
    width: 10px;
    height: 10px;
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light gray track */
    border-top: 4px solid #3498db;        /* Blue spinning part */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;                    /* Center it horizontally */
}

/* Container to center text and spinner */
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Prevent Alpine elements from flashing on load */
[x-cloak] {
    display: none !important;
}