<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>City Library AI Prediction Tool</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://unpkg.com/lucide@latest"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
	<body>
		<div class="sos-main">
			<div class="navigation">
				<a href="/">Predict</a>
				<a href="/about" style="margin: 0 5px;">About</a>
				<a href="/monitor">Monitor</a>
			</div>

			{% block content %}
			{% endblock %}
		</div>
	</body>

	<script>
		document.addEventListener('alpine:init', () => {
			Alpine.store('app', {
				lastResult: {result: null},
				state: 'init',
				setResult(val) {
					this.lastResult = val;
				},
				setState(val) {
					this.state = val;
				}
			});
		});

		document.addEventListener('DOMContentLoaded', () => {
			lucide.createIcons();
		});
	</script>
</html>