{% extends "index.html.j2" %}

{% block content %}
	<table>
		<thead>
			<tr>
				<td>Error</td>
				<td>Date</td>
			</tr>
		</thead>

		<tbody>
			{% for error in errors %}
				<tr>
					<td>{{ error.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
					<td>{{ error.error }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">No errors were found in the logs.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}